:root{
    --background-color:#e7e7e7;
    --background-contrast-color: #9e9e9e;

    --primary-color: #dcac0c;
    --hover-color: #e4c85b;
}

body{
    display: flex;
    background-color: var(--background-color);
}

body::-webkit-scrollbar {
    width: 12px;         
}

body::-webkit-scrollbar-track {
    background: var(--background-color);
}

body::-webkit-scrollbar-thumb {
    background-color: #acacac;
    border-radius: 20px;       
    border: 4px solid var(--background-color);  
}

/* Para evitar */
.swal2-shown {
	padding-right: 0 !important;
}

.swal2-container::-webkit-scrollbar {
	display: none !important;
}

button svg{
    pointer-events: none;
}

iframe{
    max-width: 100%;
}

.menu{
    width: 300px;
    min-height: 100vh;
    position: sticky;
    top: 0;
    height: 100%;
    background-color: #fff;
    /* background-color: red; */
}
.menu__links{
    width: 100%;
    display: flex;
    gap: 30px;
    flex-direction: column;
    margin-top: 30px;
    padding: 0 10%;
}
.menu__links a{
   text-decoration: none;
   color: #444444; 
   position: relative;
   padding-bottom: 6px;
}
.menu__links a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #dcac0c;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .3s;
}
.menu__links a:hover:after{
    transform: scaleX(1);
}

.menu__link--active::after{
    transform: scaleX(1) !important;
}

.menu__links a svg{
    vertical-align: bottom;
    margin-right: 4px;
}



.ad{
    /* width: 100%; */
    height: 1200px;
    padding: 25px;
}

.ad__title{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 40px;
}
.ad__title h2{
    color: #444444;
    margin: 0;
    font-size: 1.2em;
}
.ad__title p{
    margin: 0;
    font-size: .8em;
    opacity: .8;
}


.ad__title svg{
    background-color: var(--primary-color);
    width: 45px;
    height: 45px;
    padding: 8px;
    border-radius: 10px;
}

.ad-table tbody td{
    background-color: var(--background-color) !important;
    border-color: var(--background-contrast-color);
    padding-top: 12px;
    padding-bottom: 12px;
    vertical-align: middle;
}

.ad__filtersContainer{
    width: 100%;
    /* margin-bottom: 40px; */
}

.ad__filtersContainer form{
    width: 100%;
    display: flex;
    align-items: flex-end;
    gap: 6px;
    margin-bottom: 10px;
}
.ad__filtersContainer form input{
    width: 100%;
}

.ad__filtersContainer form button{
    flex-shrink: 0;
    border: 1px solid var(--primary-color);
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    height: 40px;
    margin-bottom: 2px;
}
.ad__filtersContainer form button:hover{
    background-color: var(--primary-color);
}
.ad__filtersContainer form button:hover svg{
    color: #fff !important;
}


/*---------------------- MODALS ----------------------*/
.viewModal-body span{
    font-size: .7em;
    font-weight: bold;
}
.viewModal-body p{
    margin-top: 0;
    font-size: 1.1em;
}

.modalLoader{
    display: none; /*Deshabilitado desde un inicio*/
    position: absolute;
    border-radius: var(--bs-modal-border-radius);
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.modalLoader--active{
    display: flex;
}
